@font-face {
  font-family: "Garamond8";
  src: url('../EBGaramond08-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Garamon8italic";
  src: url('../EBGaramond08-Italic.ttf') format('truetype');
}

@font-face {
  font-family: "Garamon12";
  src: url('../EBGaramond12-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Garamon12italic";
  src: url('../EBGaramond12-Italic.ttf') format('truetype');
}

@font-face {
  font-family: "Abel";
  src: url('../abel-regular.ttf') format('truetype');
}



/* //navigation bar// */

nav {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 120px;
}

.logo-box {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.logo-box img {
  max-height: 70px;
}

.nav-box {
  line-height: 50px;
  flex-grow: 20;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-box-links a {
  padding: 0 25px;
  font-family: "Garamond12"; serif;
  font-size: 15px;
  color: #676767;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-box-links a:hover {
  color: black;
}

.phonenumber-box {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

/* START Header code */

h1 {
  font-family: "Abel"; sans-serif;
  font-size: 30px;
  color: black;
  letter-spacing: 3px;
  font-weight: lighter;
  text-transform: uppercase;
}

h2 {
  font-family: "Garamon8italic"; serif;
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: white;
}

h3 {
  font-family: "Abel"; sans-serif;
  font-size: 18px;
  color: #676767;
  letter-spacing: 1px;
  font-weight: lighter;
}

h5 {
  font-family: "Garamon12"; serif;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
}

p {
  font-family: "Garamond8"; serif;
  font-size: 18px;
  line-height: 25px;
  color: #676767;
  margin-bottom: 8px;
}


/* header {
  height: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: #e1dce9;
  margin-bottom: 130px;
} */


/* START menu section */


section {
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 450px;
  width: 800px;
  margin-top: 70px;
}

.staff-title h1 {
  font-family: "Garamond8"; serif;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
}

.staff-title h2 {
  font-family: "Garamon8italic"; serif;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: white;
}

.staff-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  height: 70px;
  width: 100%;
  margin-bottom: 70px;
  background-color: #9595bc;
  text-align: center;
  line-height: 0px;
}

.staff-image img {
  max-height: 300px;
}

.staff-container {
  display: flex;
}

.staff-container p {
  margin-left: 40px;
  margin-top: 0px;
}


/* START footer HERE */

footer {
  width: 100%;
  height: 700px;
  position: relative;
  margin-top: 70px;
}

.footer-title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}


footer h2 {
  color: #676767;
  letter-spacing: 0;
  font-size: 22px;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

#navigation {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  line-height: 25px;
}

#navigation a {
  text-decoration: none;
  font-family: "Garamond8"; serif;
  font-weight: lighter;
  color: black;
  font-size: 18px;
}

#navigation a:hover {
  opacity: 0.5;
}

#contact {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 15%;
}

#contact p {
  margin-bottom: 0px;
  margin-top: 0px;
  color: black;
}

#contact address {
  margin-bottom: 10px;
  font-family: "Garamond8"; serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  color: #676767;
}

#contact br {
  margin-bottom: 5px;
}

#hours {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 3%;
}

#hours p {
  margin-bottom: 0px;
  margin-top: 0px;
  color: black;
}

#hours p span {
  color: #676767;
}

.terms {
  width: 100%;
  height: 50px;
  background-color: #e1dce9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.terms h5 {
  font-size: 10px;
  letter-spacing: 4px;
  opacity: 0.5;
}

.terms a {
  text-decoration: none;
}

/* pop up menu * original */

.hamburger {
  cursor: pointer;
  position: fixed;
  top: 45px;
  right: 20px;
  z-index: 1;
}

.line {
  border-bottom: 2px solid #bebebe;
  width: 35px;
  margin-bottom: 8px;
}

.line:last-child {
  margin-bottom: 0;
}

.menu-modal-background {
  padding: 40px;
  background-color: rgba(149, 149, 188, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Use Flexbox to center the modal-content (the white part) vertically and horizontally
    https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/
   */
  display: none;
  align-items: center;
  justify-content: center;

}

.menu-modal-content {
  padding: 40px 20px;
  /* color: white; */
  width: 600px;
  text-align: center;
  position: relative;
}

.menu-modal-content h3 {
  color: white;
  line-height: 20px;
  text-transform: uppercase;
  padding: 20px 0 10px 0;
  font-size: 40px;
  font-family: "Garamon12"; serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
}

/* #home-menu {
  padding-top: 80px;
} */

.menu-modal-content h4 {
  color: white;
  letter-spacing: 1px;
  padding-top: 50px;
}

.menu-modal-content a {
  text-decoration: none;
  color: white;
  padding-top: 20px;
}

.menu-modal-content a:hover {
  color: grey;
  transition: 0.2s;
  /* text-decoration: none; */
}

.menu-modal-content p {
  color: black;
  line-height: 50px;
  font-size: 17px;
  text-align: left;
  /* padding-left: 15%; */
}

.menu-hide {
  display: none;
}

#close-menu {
  position: fixed;
  right: 0px;
  top: 35px;
  border: none;
  font-size: 40px;
  outline: none;
  background: none;
  color: white;
  font-family: "Abel", sans-serif;
  cursor: pointer;
}

.menu-modal-content address {
  margin-bottom: 10px;
  font-family: "Garamond8"; serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  color: white;
}

@media screen and (max-width: 800px) {

.logo-box {
  display: block;
  flex-grow: none;
  text-align: center;
  padding: 14px 0;
}

.menu-hide {
    display: unset;
}

.nav-box {
  display: none;
}

.phonenumber-box {
  display: none;
}

.staff-container {
  display: block;
}

.staff-image {
  display: block;
  text-align: center;
}

section {
  width: 90vw;
  height: 700px;
}

section h1 {
  line-height: 0px;
}

.staff-copy {
  margin-left: 0px;
  margin-top: 30px;
}

.staff-copy p {
  margin-left: 0px;
}

.staff-title {
  margin-bottom: 50px;
}

}

@media screen and (max-width: 500px) {

h1 {
  font-size: 34px;
  line-height: 43px;
}

h2 {
  font-size: 23px;
}

.footer-navigation {
  display: block;
}

footer {
  height: 1000px;
}

#contact {
  padding-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  /* text-align: center; */
}

.terms {
  text-align: center;
  line-height: 15px;
}

.logo-box img {
  margin-left: -20px;
}

.staff-image img {
  max-height: 285px;
}
}
